# Some preprocessing for Cities data

- First clean-up files in command line
    - Remove additional fields and rows
    - Remove scandinavian and other special chars which are not accepted by Spark SQL
- Run queries to convert data from multi line format to multi file
    - Same results into file system

Next step is join individual files into joined.

## Command line preprocessing 
```
iconv -f ISO-8859-1 raw/003_139f_2040_20230919-193133.csv > Cleaned/Forecast_003_139f_2040_20230919-193133.csv

grep KO Cleaned/Forecast_003_139f_2040_20230919-193133.csv > Cleaned/Areas/Forecast_Areas.csv

grep -v MA tmp2.csv > Cleaned/Forecast_003_139f_2040_20230919-193133.csv 
```

In [2]:
##
## Imports and Spark initiation 
##
import pandas as pd
from pyspark.sql import SparkSession, Row
import pyspark.sql.functions as f

spark = SparkSession.builder\
    .master("local[*]")\
    .appName("main")\
    .config("spark.dynamicAllocation.enabled", "true")\
    .config("spark.shuffle.service.enabled", "true")\
    .getOrCreate()

input_dir = "data/Input/"
general_file = input_dir + "Cities_general_data.csv"
population_file = input_dir + "Cities_population_data.csv"
forecast_file = input_dir + "Cities_Forecast.csv"

23/10/25 20:05:50 WARN Utils: Your hostname, Markos-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.10 instead (on interface en0)
23/10/25 20:05:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/10/25 20:05:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/10/25 20:05:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [9]:
def loadDataAndRegister(path, viewName):
    tbl = spark.read.option("delimiter", "\t").csv(path, inferSchema="true", header="true", nullValue="NA")
    tbl.createOrReplaceTempView(viewName)
    return tbl

cities_general_data = loadDataAndRegister(general_file, "general_view")
cities_general_data.show(5)
cities_population_data = loadDataAndRegister(population_file, "population_view")
cities_population_data.show(5)

+------+--------------------+------+------+------+------+------+------+------+------+------+------+------+------+
|  Alue|              Tiedot| Y2010| Y2011| Y2012| Y2013| Y2014| Y2015| Y2016| Y2017| Y2018| Y2019| Y2020| Y2021|
+------+--------------------+------+------+------+------+------+------+------+------+------+------+------+------+
|Askola|Asukkaat yhteensä...|4864.0|4911.0|4988.0|4991.0|5064.0|5104.0|5046.0|4990.0|4958.0|4943.0|4878.0|4847.0|
|Askola|         Miehet (HE)|2455.0|2482.0|2505.0|2518.0|2549.0|2565.0|2530.0|2519.0|2519.0|2496.0|2486.0|2453.0|
|Askola|         Naiset (HE)|2409.0|2429.0|2483.0|2473.0|2515.0|2539.0|2516.0|2471.0|2439.0|2447.0|2392.0|2394.0|
|Askola|Asukkaiden keski-...|  39.0|  40.0|  40.0|  40.0|  40.0|  40.0|  40.0|  41.0|  41.0|  42.0|  42.0|  43.0|
|Askola|18 vuotta täyttän...|3650.0|3696.0|3745.0|3742.0|3815.0|3832.0|3785.0|3755.0|3748.0|3774.0|3762.0|3777.0|
+------+--------------------+------+------+------+------+------+------+------+------+------+------+------+------+
only showing top 5 rows

+------+--------------------+------+------+------+------+------+------+------+------+------+------+------+-----+
|  Alue|              Tiedot| Y2011| Y2012| Y2013| Y2014| Y2015| Y2016| Y2017| Y2018| Y2019| Y2020| Y2021|Y2022|
+------+--------------------+------+------+------+------+------+------+------+------+------+------+------+-----+
|Askola|       Väestö 31.12.|4911.0|4988.0|4991.0|5064.0|5104.0|5046.0|4990.0|4958.0|4943.0|4878.0|4847.0| 4763|
|Askola|    Väkiluvun muutos|  47.0|  77.0|   3.0|  73.0|  40.0| -58.0| -56.0| -32.0| -15.0| -65.0| -31.0|  -84|
|Askola|  Väkiluvun muutos_p|   1.0|   1.6|   0.1|   1.5|   0.8|  -1.1|  -1.1|  -0.6|  -0.3|  -1.3|  -0.6| -1.7|
|Askola|Väestöllinen huol...|  54.2|  55.9|  57.5|  58.8|  61.3|  63.0|  64.2|  64.3|  63.9|  63.8|  64.9| 65.3|
|Askola|Taloudellinen huo...| 111.0| 110.0| 114.9| 118.2| 124.9| 125.5| 125.1| 122.1| 120.5| 124.5| 120.5|    .|
+------+--------------------+------+------+------+------+------+------+------+------+------+------+------+-----+
only showing top 5 rows

Original data set is quite large and many rows should be dropped. That is most likely easier to do in command line directly into csv files.   

```
grep -v vuotiaat Cities_general_data.csv > tmp.csv 
grep -v "85 vuotta" tmp.csv > Cities_general_data.csv

grep -v "Alle 15-vuotiaiden osuus, %" Cities_population_data.csv | grep -v "15-64-vuotiaiden osuus, %" | grep -v "65 vuotta täyttäneiden osuus, %" > tmp.csv
grep -v osuus tmp.csv > Cities_population_data.csv

tr -s ",%" "_"
sed -i "" "s/km[^\"]*/#/g" tmp.csv 
sed -i "" "s/_ _p/g" Cities_population_data.csv
sed -i "" "s/\"20/\"Y20/g" Cities_population_data.csv

cat Cities_Forecast.csv | cut -f 1,2,3 
```

In [12]:
df = spark.read.option("delimiter", "\t").csv(forecast_file, inferSchema="true", header="true")
#df.show()
pivot_df = df.groupBy("Alue").pivot("Vuosi").agg(f.first("Yhteensa"))

for c in pivot_df.columns:
    if c == "Alue":
        pivot_df = pivot_df.withColumnRenamed(c, "City")
    else:
        nc = "Y" + str(c)
        pivot_df = pivot_df.withColumnRenamed(c, nc)
pivot_df.show()

+----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|            City|Y2021|Y2022|Y2023|Y2024|Y2025|Y2026|Y2027|Y2028|Y2029|Y2030|Y2031|
+----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|         Kajaani|36429|36251|36069|35887|35702|35510|35321|35125|34928|34732|34533|
|       Enonkoski| 1356| 1342| 1327| 1314| 1300| 1287| 1274| 1259| 1246| 1230| 1214|
|       Parikkala| 4556| 4463| 4377| 4295| 4219| 4144| 4070| 4002| 3935| 3870| 3806|
|       Tuusniemi| 2377| 2329| 2283| 2244| 2207| 2174| 2142| 2113| 2084| 2058| 2033|
|        Kuortane| 3497| 3458| 3423| 3387| 3354| 3319| 3287| 3257| 3229| 3204| 3177|
|        Finström| 2625| 2636| 2649| 2660| 2671| 2678| 2683| 2689| 2695| 2700| 2704|
|     Taipalsaari| 4600| 4567| 4535| 4501| 4469| 4436| 4406| 4375| 4344| 4316| 4287|
|        Kyyjärvi| 1264| 1239| 1218| 1199| 1179| 1161| 1143| 1124| 1105| 1086| 1069|
|          Eckerö|  966|  970|  976|  982|  987|  993|  998| 1003| 1009| 1016| 1020|
|         Luumäki| 4469| 4407| 4347| 4296| 4245| 4198| 4150| 4103| 4061| 4017| 3979|
|Pedersören kunta|11203|11226|11251|11270|11291|11309|11322|11332|11341|11350|11357|
|        Evijärvi| 2378| 2348| 2321| 2294| 2269| 2244| 2219| 2195| 2169| 2142| 2119|
|     Kemiönsaari| 6540| 6475| 6418| 6365| 6320| 6278| 6238| 6200| 6164| 6129| 6094|
|           Nokia|34758|35023|35273|35510|35731|35942|36139|36322|36503|36680|36849|
|        Hailuoto|  941|  936|  932|  926|  920|  914|  908|  901|  895|  889|  884|
|      Mäntyharju| 5598| 5519| 5449| 5380| 5317| 5256| 5196| 5140| 5086| 5034| 4987|
|      Saarijärvi| 9084| 8955| 8833| 8716| 8602| 8489| 8382| 8278| 8179| 8084| 7992|
|            Aura| 3953| 3956| 3959| 3962| 3967| 3973| 3982| 3988| 3992| 3995| 3999|
|      Rantasalmi| 3291| 3224| 3161| 3106| 3052| 3005| 2959| 2914| 2871| 2829| 2785|
|      Rautavaara| 1527| 1496| 1465| 1435| 1408| 1381| 1355| 1331| 1309| 1287| 1266|
+----------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

In [12]:
apartments_data_file = "data/Input/" + "preprocessed_merged_apartments_population_2011-2022.csv"
df = spark.read.option("delimiter", ",").csv(apartments_data_file, inferSchema="true", header="true")
pivot_rent = df.groupBy("City").pivot("Year").agg(f.mean("Rent per m2"))
pivot_rent.show()
pivot_sell = df.groupBy("City").pivot("Year").agg(f.mean("Sales price per m2"))

+----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|            City|              2011|              2012|              2013|              2014|              2015|              2016|              2017|              2018|              2019|              2020|              2021|              2022|
+----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|           Turku|11.213333333333333|11.590000000000002|11.913333333333334|12.146666666666668|             11.87|12.306666666666667|12.943333333333333|13.403333333333334|             13.75|             14.25|14.553333333333333|              15.1|
|       Jyväskylä|11.526666666666666|11.856666666666667|12.366666666666667|             12.63|12.386666666666665|12.753333333333336|             13.51|13.913333333333334|14.203333333333333|14.573333333333332|14.626666666666665|14.756666666666666|
|          Kuopio|11.276666666666666|11.743333333333334|12.223333333333334|12.606666666666667|12.463333333333333|12.903333333333334|13.823333333333332|14.206666666666665|14.446666666666667|14.719999999999999|14.803333333333335|15.186666666666667|
|            Oulu|10.936666666666667|11.263333333333334|11.420000000000002|11.623333333333333|11.566666666666668|11.856666666666667|12.533333333333333|             12.82|13.076666666666668|             13.49|13.746666666666668|14.066666666666665|
|          Porvoo|11.286666666666667|11.590000000000002|11.840000000000002|             12.25|12.979999999999999|              13.4|13.866666666666667|14.103333333333333|             14.24|14.783333333333333|              15.0|15.146666666666667|
|           Vaasa|10.413333333333334|10.803333333333335|11.223333333333334|11.413333333333334|             10.74|             11.06|11.819999999999999|12.363333333333332|12.373333333333335|12.596666666666666|             12.65|12.756666666666668|
|         Tampere|11.883333333333333|12.193333333333335|12.676666666666668|13.083333333333334|13.026666666666669|13.340000000000002|14.243333333333332|14.483333333333334|14.806666666666665|15.293333333333335|15.550000000000002|15.976666666666667|
|           Kotka| 9.943333333333333|10.263333333333334|10.516666666666666|             10.69|11.020000000000001|11.186666666666667|11.413333333333332|11.383333333333333|             11.64|12.336666666666666|             12.33|12.426666666666668|
|            Pori| 9.693333333333333| 9.933333333333332|             10.29|             10.38|10.523333333333333|10.829999999999998|10.973333333333334|11.153333333333334|11.143333333333333|             11.31|11.403333333333334|11.466666666666667|
|         Joensuu|10.933333333333332|11.276666666666666|             11.71|11.873333333333335|             11.51|             11.83|             12.38|13.016666666666666|             13.07|13.563333333333333|13.686666666666666|13.893333333333333|
|           Lahti|11.093333333333334|11.469999999999999|11.936666666666667|             12.28|12.469999999999999|13.093333333333334|13.283333333333333|13.276666666666666|13.436666666666667|13.716666666666667|13.773333333333333|13.976666666666667|
|          Vantaa|12.839999999999998|             13.37|14.053333333333333|             14.74|             15.87|16.453333333333333|17.043333333333333|17.330000000000002|17.830000000000002|18.606666666666666|             18.88|19.283333333333335|
|        Helsinki|15.083333333333334|15.833333333333334| 16.60666666666667|17.406666666666666|17.906666666666666| 18.65666666666667|             19.62|20.136666666666667|20.613333333333333|             21.45| 21.69666666666667|             22.05|
|    Lappeenranta|10.836666666666666|11.086666666666666|             11.42|11.653333333333334|12.049999999999999|             12.37|13.246666666666668|             13.25|13.446666666666667|13.776666666666666|             13.89|14.153333333333334|
|         Mikkeli|10.313333333333334|10.806666666666667|11.046666666666667|11.233333333333334|11.323333333333332|11.530000000000001|12.333333333333334|12.636666666666668|12.736666666666666|12.823333333333332|             12.81|12.893333333333333|
|     Hämeenlinna|11.016666666666666|11.443333333333333|11.696666666666667|             11.86|12.686666666666667|             12.99|13.583333333333334|14.383333333333335|14.816666666666665|14.270000000000001|14.306666666666667|14.553333333333333|
|         Kouvola| 9.209999999999999| 9.443333333333333| 9.953333333333333|10.073333333333332|             10.56|             10.69|10.606666666666667|10.726666666666667|             10.82|             10.94|10.983333333333334|11.030000000000001|
|       Seinäjoki|             10.07|              10.4|10.863333333333335|11.160000000000002|10.976666666666667|11.216666666666667|11.763333333333334|12.073333333333332|12.106666666666667|             12.36|12.566666666666668|12.706666666666669|
|       Rovaniemi|10.956666666666665|11.166666666666666|11.453333333333333|11.643333333333333|11.866666666666667|11.946666666666667|12.660000000000002|13.033333333333333|13.296666666666667|             13.65|             13.87|14.253333333333332|
|Espoo-Kauniainen|13.763333333333334|14.316666666666668|14.643333333333333|             15.62|16.136666666666667|16.823333333333334|17.456666666666667| 17.62333333333333|18.106666666666666|18.939999999999998|             19.26|             19.69|
+----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+

In [13]:
import io
import os 
import time
  

def convert(input):
    tmp = input.lower().translate(str.maketrans(".äö() -", "_ao____"))
    return tmp.replace("__", "_").strip("_")

def get_col_names(s, e, c):
    cols = []
    for year in range(s, e):
        col_name_template = "Y%i as %i_%s" %(year, year, c)
        cols.append(col_name_template)
    return ", ".join(cols)

def write_metadata(df, export_dir):
    metadata_file = "%s/metadata.txt" %(export_dir)
    buffer = io.StringIO()
    df.toPandas().info(buf=buffer, verbose=True)
    s = buffer.getvalue()
    f = open(metadata_file, "a", encoding="utf-8")
    f.write("#"*20)
    f.write("\n")
    f.write(s)
    f.close()

def export_data(data_items, years, export_dir, view):
    s, e = years
    for row in data_items.collect():
        org_col_name = row["Tiedot"]
        new_col_name = convert(org_col_name)
        all_cols = get_col_names(s, e, new_col_name)
        sql_query = "Select Alue as City, %s from %s where Tiedot='%s'" %(all_cols, view, org_col_name)
        print(sql_query)
        df = spark.sql(sql_query)
        export_file = "%s/%s" %(export_dir, new_col_name)
        df.write.option("header", True).csv(export_file)
        write_metadata(df, export_dir)
        print("Exporting: %s" %(export_file))


export_dir = "spark_to_csv_%f" %(time.time())
os.mkdir(export_dir)

data_items = spark.sql("select distinct Tiedot from general_view")
export_data(data_items, (2010, 2022), export_dir, "general_view")
data_items = spark.sql("select distinct Tiedot from population_view")
export_data(data_items, (2011, 2023), export_dir, "population_view")

export_file = "%s/forecast_data" %(export_dir)
pivot_df.write.option("header", True).csv(export_file)
write_metadata(pivot_df, export_dir)
print("Exporting: %s" %(export_file))

Select Alue as City, Y2010 as 2010_taloudet_yhteensa_te, Y2011 as 2011_taloudet_yhteensa_te, Y2012 as 2012_taloudet_yhteensa_te, Y2013 as 2013_taloudet_yhteensa_te, Y2014 as 2014_taloudet_yhteensa_te, Y2015 as 2015_taloudet_yhteensa_te, Y2016 as 2016_taloudet_yhteensa_te, Y2017 as 2017_taloudet_yhteensa_te, Y2018 as 2018_taloudet_yhteensa_te, Y2019 as 2019_taloudet_yhteensa_te, Y2020 as 2020_taloudet_yhteensa_te, Y2021 as 2021_taloudet_yhteensa_te from general_view where Tiedot='Taloudet yhteensä (TE)'
Exporting: spark_to_csv_1696257401.110592/taloudet_yhteensa_te
Select Alue as City, Y2010 as 2010_asukkaat_yhteensa_he, Y2011 as 2011_asukkaat_yhteensa_he, Y2012 as 2012_asukkaat_yhteensa_he, Y2013 as 2013_asukkaat_yhteensa_he, Y2014 as 2014_asukkaat_yhteensa_he, Y2015 as 2015_asukkaat_yhteensa_he, Y2016 as 2016_asukkaat_yhteensa_he, Y2017 as 2017_asukkaat_yhteensa_he, Y2018 as 2018_asukkaat_yhteensa_he, Y2019 as 2019_asukkaat_yhteensa_he, Y2020 as 2020_asukkaat_yhteensa_he, Y2021 as 2021_asukkaat_yhteensa_he from general_view where Tiedot='Asukkaat yhteensä (HE)'
Exporting: spark_to_csv_1696257401.110592/asukkaat_yhteensa_he
Select Alue as City, Y2010 as 2010_asukkaiden_mediaanitulot_hr, Y2011 as 2011_asukkaiden_mediaanitulot_hr, Y2012 as 2012_asukkaiden_mediaanitulot_hr, Y2013 as 2013_asukkaiden_mediaanitulot_hr, Y2014 as 2014_asukkaiden_mediaanitulot_hr, Y2015 as 2015_asukkaiden_mediaanitulot_hr, Y2016 as 2016_asukkaiden_mediaanitulot_hr, Y2017 as 2017_asukkaiden_mediaanitulot_hr, Y2018 as 2018_asukkaiden_mediaanitulot_hr, Y2019 as 2019_asukkaiden_mediaanitulot_hr, Y2020 as 2020_asukkaiden_mediaanitulot_hr, Y2021 as 2021_asukkaiden_mediaanitulot_hr from general_view where Tiedot='Asukkaiden mediaanitulot (HR)'
Exporting: spark_to_csv_1696257401.110592/asukkaiden_mediaanitulot_hr
Select Alue as City, Y2010 as 2010_18_vuotta_tayttaneet_yhteensa_ko, Y2011 as 2011_18_vuotta_tayttaneet_yhteensa_ko, Y2012 as 2012_18_vuotta_tayttaneet_yhteensa_ko, Y2013 as 2013_18_vuotta_tayttaneet_yhteensa_ko, Y2014 as 2014_18_vuotta_tayttaneet_yhteensa_ko, Y2015 as 2015_18_vuotta_tayttaneet_yhteensa_ko, Y2016 as 2016_18_vuotta_tayttaneet_yhteensa_ko, Y2017 as 2017_18_vuotta_tayttaneet_yhteensa_ko, Y2018 as 2018_18_vuotta_tayttaneet_yhteensa_ko, Y2019 as 2019_18_vuotta_tayttaneet_yhteensa_ko, Y2020 as 2020_18_vuotta_tayttaneet_yhteensa_ko, Y2021 as 2021_18_vuotta_tayttaneet_yhteensa_ko from general_view where Tiedot='18 vuotta täyttäneet yhteensä (KO)'
Exporting: spark_to_csv_1696257401.110592/18_vuotta_tayttaneet_yhteensa_ko
Select Alue as City, Y2010 as 2010_talouksien_keskikoko_te, Y2011 as 2011_talouksien_keskikoko_te, Y2012 as 2012_talouksien_keskikoko_te, Y2013 as 2013_talouksien_keskikoko_te, Y2014 as 2014_talouksien_keskikoko_te, Y2015 as 2015_talouksien_keskikoko_te, Y2016 as 2016_talouksien_keskikoko_te, Y2017 as 2017_talouksien_keskikoko_te, Y2018 as 2018_talouksien_keskikoko_te, Y2019 as 2019_talouksien_keskikoko_te, Y2020 as 2020_talouksien_keskikoko_te, Y2021 as 2021_talouksien_keskikoko_te from general_view where Tiedot='Talouksien keskikoko (TE)'
Exporting: spark_to_csv_1696257401.110592/talouksien_keskikoko_te
Select Alue as City, Y2010 as 2010_ylemman_korkeakoulututkinnon_suorittaneet_ko, Y2011 as 2011_ylemman_korkeakoulututkinnon_suorittaneet_ko, Y2012 as 2012_ylemman_korkeakoulututkinnon_suorittaneet_ko, Y2013 as 2013_ylemman_korkeakoulututkinnon_suorittaneet_ko, Y2014 as 2014_ylemman_korkeakoulututkinnon_suorittaneet_ko, Y2015 as 2015_ylemman_korkeakoulututkinnon_suorittaneet_ko, Y2016 as 2016_ylemman_korkeakoulututkinnon_suorittaneet_ko, Y2017 as 2017_ylemman_korkeakoulututkinnon_suorittaneet_ko, Y2018 as 2018_ylemman_korkeakoulututkinnon_suorittaneet_ko, Y2019 as 2019_ylemman_korkeakoulututkinnon_suorittaneet_ko, Y2020 as 2020_ylemman_korkeakoulututkinnon_suorittaneet_ko, Y2021 as 2021_ylemman_korkeakoulututkinnon_suorittaneet_ko from general_view where Tiedot='Ylemmän korkeakoulututkinnon suorittaneet (KO)'
Exporting: spark_to_csv_1696257401.110592/ylemman_korkeakoulututkinnon_suorittaneet_ko
Select Alue as City, Y2010 as 2010_18_vuotta_tayttaneet_yhteensa_hr, Y2011 as 2011_18_vuotta_tayttaneet_yhteensa_hr, Y2012 as 2012_18_vuotta_tayttaneet_yhteensa_hr, Y2013 as 2013_18_vuotta_tayttaneet_yhteensa_hr, Y2014 as 2014_18_vuotta_tayttaneet_yhteensa_hr, Y2015 as 2015_18_vuotta_tayttaneet_yhteensa_hr, Y2016 as 2016_18_vuotta_tayttaneet_yhteensa_hr, Y2017 as 2017_18_vuotta_tayttaneet_yhteensa_hr, Y2018 as 2018_18_vuotta_tayttaneet_yhteensa_hr, Y2019 as 2019_18_vuotta_tayttaneet_yhteensa_hr, Y2020 as 2020_18_vuotta_tayttaneet_yhteensa_hr, Y2021 as 2021_18_vuotta_tayttaneet_yhteensa_hr from general_view where Tiedot='18 vuotta täyttäneet yhteensä (HR)'
Exporting: spark_to_csv_1696257401.110592/18_vuotta_tayttaneet_yhteensa_hr
Select Alue as City, Y2010 as 2010_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2011 as 2011_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2012 as 2012_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2013 as 2013_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2014 as 2014_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2015 as 2015_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2016 as 2016_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2017 as 2017_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2018 as 2018_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2019 as 2019_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2020 as 2020_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2021 as 2021_alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr from general_view where Tiedot='Alimpaan tuloluokkaan kuuluvat asukkaat (HR)'
Exporting: spark_to_csv_1696257401.110592/alimpaan_tuloluokkaan_kuuluvat_asukkaat_hr
Select Alue as City, Y2010 as 2010_naiset_he, Y2011 as 2011_naiset_he, Y2012 as 2012_naiset_he, Y2013 as 2013_naiset_he, Y2014 as 2014_naiset_he, Y2015 as 2015_naiset_he, Y2016 as 2016_naiset_he, Y2017 as 2017_naiset_he, Y2018 as 2018_naiset_he, Y2019 as 2019_naiset_he, Y2020 as 2020_naiset_he, Y2021 as 2021_naiset_he from general_view where Tiedot='Naiset (HE)'
Exporting: spark_to_csv_1696257401.110592/naiset_he
Select Alue as City, Y2010 as 2010_miehet_he, Y2011 as 2011_miehet_he, Y2012 as 2012_miehet_he, Y2013 as 2013_miehet_he, Y2014 as 2014_miehet_he, Y2015 as 2015_miehet_he, Y2016 as 2016_miehet_he, Y2017 as 2017_miehet_he, Y2018 as 2018_miehet_he, Y2019 as 2019_miehet_he, Y2020 as 2020_miehet_he, Y2021 as 2021_miehet_he from general_view where Tiedot='Miehet (HE)'
Exporting: spark_to_csv_1696257401.110592/miehet_he
Select Alue as City, Y2010 as 2010_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2011 as 2011_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2012 as 2012_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2013 as 2013_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2014 as 2014_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2015 as 2015_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2016 as 2016_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2017 as 2017_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2018 as 2018_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2019 as 2019_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2020 as 2020_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr, Y2021 as 2021_ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr from general_view where Tiedot='Ylimpään tuloluokkaan kuuluvat asukkaat (HR)'
Exporting: spark_to_csv_1696257401.110592/ylimpaan_tuloluokkaan_kuuluvat_asukkaat_hr
Select Alue as City, Y2010 as 2010_alemman_korkeakoulututkinnon_suorittaneet_ko, Y2011 as 2011_alemman_korkeakoulututkinnon_suorittaneet_ko, Y2012 as 2012_alemman_korkeakoulututkinnon_suorittaneet_ko, Y2013 as 2013_alemman_korkeakoulututkinnon_suorittaneet_ko, Y2014 as 2014_alemman_korkeakoulututkinnon_suorittaneet_ko, Y2015 as 2015_alemman_korkeakoulututkinnon_suorittaneet_ko, Y2016 as 2016_alemman_korkeakoulututkinnon_suorittaneet_ko, Y2017 as 2017_alemman_korkeakoulututkinnon_suorittaneet_ko, Y2018 as 2018_alemman_korkeakoulututkinnon_suorittaneet_ko, Y2019 as 2019_alemman_korkeakoulututkinnon_suorittaneet_ko, Y2020 as 2020_alemman_korkeakoulututkinnon_suorittaneet_ko, Y2021 as 2021_alemman_korkeakoulututkinnon_suorittaneet_ko from general_view where Tiedot='Alemman korkeakoulututkinnon suorittaneet (KO)'
Exporting: spark_to_csv_1696257401.110592/alemman_korkeakoulututkinnon_suorittaneet_ko
Select Alue as City, Y2010 as 2010_asukkaiden_ostovoimakertyma_hr, Y2011 as 2011_asukkaiden_ostovoimakertyma_hr, Y2012 as 2012_asukkaiden_ostovoimakertyma_hr, Y2013 as 2013_asukkaiden_ostovoimakertyma_hr, Y2014 as 2014_asukkaiden_ostovoimakertyma_hr, Y2015 as 2015_asukkaiden_ostovoimakertyma_hr, Y2016 as 2016_asukkaiden_ostovoimakertyma_hr, Y2017 as 2017_asukkaiden_ostovoimakertyma_hr, Y2018 as 2018_asukkaiden_ostovoimakertyma_hr, Y2019 as 2019_asukkaiden_ostovoimakertyma_hr, Y2020 as 2020_asukkaiden_ostovoimakertyma_hr, Y2021 as 2021_asukkaiden_ostovoimakertyma_hr from general_view where Tiedot='Asukkaiden ostovoimakertymä (HR)'
Exporting: spark_to_csv_1696257401.110592/asukkaiden_ostovoimakertyma_hr
Select Alue as City, Y2010 as 2010_asukkaiden_keski_ika_he, Y2011 as 2011_asukkaiden_keski_ika_he, Y2012 as 2012_asukkaiden_keski_ika_he, Y2013 as 2013_asukkaiden_keski_ika_he, Y2014 as 2014_asukkaiden_keski_ika_he, Y2015 as 2015_asukkaiden_keski_ika_he, Y2016 as 2016_asukkaiden_keski_ika_he, Y2017 as 2017_asukkaiden_keski_ika_he, Y2018 as 2018_asukkaiden_keski_ika_he, Y2019 as 2019_asukkaiden_keski_ika_he, Y2020 as 2020_asukkaiden_keski_ika_he, Y2021 as 2021_asukkaiden_keski_ika_he from general_view where Tiedot='Asukkaiden keski-ikä (HE)'
Exporting: spark_to_csv_1696257401.110592/asukkaiden_keski_ika_he
Select Alue as City, Y2010 as 2010_asukkaiden_keskitulot_hr, Y2011 as 2011_asukkaiden_keskitulot_hr, Y2012 as 2012_asukkaiden_keskitulot_hr, Y2013 as 2013_asukkaiden_keskitulot_hr, Y2014 as 2014_asukkaiden_keskitulot_hr, Y2015 as 2015_asukkaiden_keskitulot_hr, Y2016 as 2016_asukkaiden_keskitulot_hr, Y2017 as 2017_asukkaiden_keskitulot_hr, Y2018 as 2018_asukkaiden_keskitulot_hr, Y2019 as 2019_asukkaiden_keskitulot_hr, Y2020 as 2020_asukkaiden_keskitulot_hr, Y2021 as 2021_asukkaiden_keskitulot_hr from general_view where Tiedot='Asukkaiden keskitulot (HR)'
Exporting: spark_to_csv_1696257401.110592/asukkaiden_keskitulot_hr
Select Alue as City, Y2010 as 2010_perusasteen_suorittaneet_ko, Y2011 as 2011_perusasteen_suorittaneet_ko, Y2012 as 2012_perusasteen_suorittaneet_ko, Y2013 as 2013_perusasteen_suorittaneet_ko, Y2014 as 2014_perusasteen_suorittaneet_ko, Y2015 as 2015_perusasteen_suorittaneet_ko, Y2016 as 2016_perusasteen_suorittaneet_ko, Y2017 as 2017_perusasteen_suorittaneet_ko, Y2018 as 2018_perusasteen_suorittaneet_ko, Y2019 as 2019_perusasteen_suorittaneet_ko, Y2020 as 2020_perusasteen_suorittaneet_ko, Y2021 as 2021_perusasteen_suorittaneet_ko from general_view where Tiedot='Perusasteen suorittaneet (KO)'
Exporting: spark_to_csv_1696257401.110592/perusasteen_suorittaneet_ko
Select Alue as City, Y2010 as 2010_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr, Y2011 as 2011_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr, Y2012 as 2012_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr, Y2013 as 2013_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr, Y2014 as 2014_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr, Y2015 as 2015_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr, Y2016 as 2016_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr, Y2017 as 2017_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr, Y2018 as 2018_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr, Y2019 as 2019_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr, Y2020 as 2020_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr, Y2021 as 2021_keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr from general_view where Tiedot='Keskimmäiseen tuloluokkaan kuuluvat asukkaat (HR)'
Exporting: spark_to_csv_1696257401.110592/keskimmaiseen_tuloluokkaan_kuuluvat_asukkaat_hr
Select Alue as City, Y2010 as 2010_koulutetut_yhteensa_ko, Y2011 as 2011_koulutetut_yhteensa_ko, Y2012 as 2012_koulutetut_yhteensa_ko, Y2013 as 2013_koulutetut_yhteensa_ko, Y2014 as 2014_koulutetut_yhteensa_ko, Y2015 as 2015_koulutetut_yhteensa_ko, Y2016 as 2016_koulutetut_yhteensa_ko, Y2017 as 2017_koulutetut_yhteensa_ko, Y2018 as 2018_koulutetut_yhteensa_ko, Y2019 as 2019_koulutetut_yhteensa_ko, Y2020 as 2020_koulutetut_yhteensa_ko, Y2021 as 2021_koulutetut_yhteensa_ko from general_view where Tiedot='Koulutetut yhteensä (KO)'
Exporting: spark_to_csv_1696257401.110592/koulutetut_yhteensa_ko
Select Alue as City, Y2010 as 2010_ylioppilastutkinnon_suorittaneet_ko, Y2011 as 2011_ylioppilastutkinnon_suorittaneet_ko, Y2012 as 2012_ylioppilastutkinnon_suorittaneet_ko, Y2013 as 2013_ylioppilastutkinnon_suorittaneet_ko, Y2014 as 2014_ylioppilastutkinnon_suorittaneet_ko, Y2015 as 2015_ylioppilastutkinnon_suorittaneet_ko, Y2016 as 2016_ylioppilastutkinnon_suorittaneet_ko, Y2017 as 2017_ylioppilastutkinnon_suorittaneet_ko, Y2018 as 2018_ylioppilastutkinnon_suorittaneet_ko, Y2019 as 2019_ylioppilastutkinnon_suorittaneet_ko, Y2020 as 2020_ylioppilastutkinnon_suorittaneet_ko, Y2021 as 2021_ylioppilastutkinnon_suorittaneet_ko from general_view where Tiedot='Ylioppilastutkinnon suorittaneet (KO)'
Exporting: spark_to_csv_1696257401.110592/ylioppilastutkinnon_suorittaneet_ko
Select Alue as City, Y2010 as 2010_ammatillisen_tutkinnon_suorittaneet_ko, Y2011 as 2011_ammatillisen_tutkinnon_suorittaneet_ko, Y2012 as 2012_ammatillisen_tutkinnon_suorittaneet_ko, Y2013 as 2013_ammatillisen_tutkinnon_suorittaneet_ko, Y2014 as 2014_ammatillisen_tutkinnon_suorittaneet_ko, Y2015 as 2015_ammatillisen_tutkinnon_suorittaneet_ko, Y2016 as 2016_ammatillisen_tutkinnon_suorittaneet_ko, Y2017 as 2017_ammatillisen_tutkinnon_suorittaneet_ko, Y2018 as 2018_ammatillisen_tutkinnon_suorittaneet_ko, Y2019 as 2019_ammatillisen_tutkinnon_suorittaneet_ko, Y2020 as 2020_ammatillisen_tutkinnon_suorittaneet_ko, Y2021 as 2021_ammatillisen_tutkinnon_suorittaneet_ko from general_view where Tiedot='Ammatillisen tutkinnon suorittaneet (KO)'
Exporting: spark_to_csv_1696257401.110592/ammatillisen_tutkinnon_suorittaneet_ko
Select Alue as City, Y2011 as 2011_vaestollinen_huoltosuhde, Y2012 as 2012_vaestollinen_huoltosuhde, Y2013 as 2013_vaestollinen_huoltosuhde, Y2014 as 2014_vaestollinen_huoltosuhde, Y2015 as 2015_vaestollinen_huoltosuhde, Y2016 as 2016_vaestollinen_huoltosuhde, Y2017 as 2017_vaestollinen_huoltosuhde, Y2018 as 2018_vaestollinen_huoltosuhde, Y2019 as 2019_vaestollinen_huoltosuhde, Y2020 as 2020_vaestollinen_huoltosuhde, Y2021 as 2021_vaestollinen_huoltosuhde, Y2022 as 2022_vaestollinen_huoltosuhde from population_view where Tiedot='Väestöllinen huoltosuhde'
Exporting: spark_to_csv_1696257401.110592/vaestollinen_huoltosuhde
Select Alue as City, Y2011 as 2011_vaesto_31_12, Y2012 as 2012_vaesto_31_12, Y2013 as 2013_vaesto_31_12, Y2014 as 2014_vaesto_31_12, Y2015 as 2015_vaesto_31_12, Y2016 as 2016_vaesto_31_12, Y2017 as 2017_vaesto_31_12, Y2018 as 2018_vaesto_31_12, Y2019 as 2019_vaesto_31_12, Y2020 as 2020_vaesto_31_12, Y2021 as 2021_vaesto_31_12, Y2022 as 2022_vaesto_31_12 from population_view where Tiedot='Väestö 31.12.'
Exporting: spark_to_csv_1696257401.110592/vaesto_31_12
Select Alue as City, Y2011 as 2011_taloudellinen_huoltosuhde, Y2012 as 2012_taloudellinen_huoltosuhde, Y2013 as 2013_taloudellinen_huoltosuhde, Y2014 as 2014_taloudellinen_huoltosuhde, Y2015 as 2015_taloudellinen_huoltosuhde, Y2016 as 2016_taloudellinen_huoltosuhde, Y2017 as 2017_taloudellinen_huoltosuhde, Y2018 as 2018_taloudellinen_huoltosuhde, Y2019 as 2019_taloudellinen_huoltosuhde, Y2020 as 2020_taloudellinen_huoltosuhde, Y2021 as 2021_taloudellinen_huoltosuhde, Y2022 as 2022_taloudellinen_huoltosuhde from population_view where Tiedot='Taloudellinen huoltosuhde'
Exporting: spark_to_csv_1696257401.110592/taloudellinen_huoltosuhde
Select Alue as City, Y2011 as 2011_ruotsinkielisia, Y2012 as 2012_ruotsinkielisia, Y2013 as 2013_ruotsinkielisia, Y2014 as 2014_ruotsinkielisia, Y2015 as 2015_ruotsinkielisia, Y2016 as 2016_ruotsinkielisia, Y2017 as 2017_ruotsinkielisia, Y2018 as 2018_ruotsinkielisia, Y2019 as 2019_ruotsinkielisia, Y2020 as 2020_ruotsinkielisia, Y2021 as 2021_ruotsinkielisia, Y2022 as 2022_ruotsinkielisia from population_view where Tiedot='Ruotsinkielisiä'
Exporting: spark_to_csv_1696257401.110592/ruotsinkielisia
Select Alue as City, Y2011 as 2011_ulkomailla_syntyneita, Y2012 as 2012_ulkomailla_syntyneita, Y2013 as 2013_ulkomailla_syntyneita, Y2014 as 2014_ulkomailla_syntyneita, Y2015 as 2015_ulkomailla_syntyneita, Y2016 as 2016_ulkomailla_syntyneita, Y2017 as 2017_ulkomailla_syntyneita, Y2018 as 2018_ulkomailla_syntyneita, Y2019 as 2019_ulkomailla_syntyneita, Y2020 as 2020_ulkomailla_syntyneita, Y2021 as 2021_ulkomailla_syntyneita, Y2022 as 2022_ulkomailla_syntyneita from population_view where Tiedot='Ulkomailla syntyneitä'
Exporting: spark_to_csv_1696257401.110592/ulkomailla_syntyneita
Select Alue as City, Y2011 as 2011_saamenkielisia, Y2012 as 2012_saamenkielisia, Y2013 as 2013_saamenkielisia, Y2014 as 2014_saamenkielisia, Y2015 as 2015_saamenkielisia, Y2016 as 2016_saamenkielisia, Y2017 as 2017_saamenkielisia, Y2018 as 2018_saamenkielisia, Y2019 as 2019_saamenkielisia, Y2020 as 2020_saamenkielisia, Y2021 as 2021_saamenkielisia, Y2022 as 2022_saamenkielisia from population_view where Tiedot='Saamenkielisiä'
Exporting: spark_to_csv_1696257401.110592/saamenkielisia
Select Alue as City, Y2011 as 2011_vieraskielisia, Y2012 as 2012_vieraskielisia, Y2013 as 2013_vieraskielisia, Y2014 as 2014_vieraskielisia, Y2015 as 2015_vieraskielisia, Y2016 as 2016_vieraskielisia, Y2017 as 2017_vieraskielisia, Y2018 as 2018_vieraskielisia, Y2019 as 2019_vieraskielisia, Y2020 as 2020_vieraskielisia, Y2021 as 2021_vieraskielisia, Y2022 as 2022_vieraskielisia from population_view where Tiedot='Vieraskielisiä'
Exporting: spark_to_csv_1696257401.110592/vieraskielisia
Select Alue as City, Y2011 as 2011_ulkomaalaistaustaisia, Y2012 as 2012_ulkomaalaistaustaisia, Y2013 as 2013_ulkomaalaistaustaisia, Y2014 as 2014_ulkomaalaistaustaisia, Y2015 as 2015_ulkomaalaistaustaisia, Y2016 as 2016_ulkomaalaistaustaisia, Y2017 as 2017_ulkomaalaistaustaisia, Y2018 as 2018_ulkomaalaistaustaisia, Y2019 as 2019_ulkomaalaistaustaisia, Y2020 as 2020_ulkomaalaistaustaisia, Y2021 as 2021_ulkomaalaistaustaisia, Y2022 as 2022_ulkomaalaistaustaisia from population_view where Tiedot='Ulkomaalaistaustaisia'
Exporting: spark_to_csv_1696257401.110592/ulkomaalaistaustaisia
Select Alue as City, Y2011 as 2011_alueella_syntyneita_jotka_ovat_suomen_vaestossa, Y2012 as 2012_alueella_syntyneita_jotka_ovat_suomen_vaestossa, Y2013 as 2013_alueella_syntyneita_jotka_ovat_suomen_vaestossa, Y2014 as 2014_alueella_syntyneita_jotka_ovat_suomen_vaestossa, Y2015 as 2015_alueella_syntyneita_jotka_ovat_suomen_vaestossa, Y2016 as 2016_alueella_syntyneita_jotka_ovat_suomen_vaestossa, Y2017 as 2017_alueella_syntyneita_jotka_ovat_suomen_vaestossa, Y2018 as 2018_alueella_syntyneita_jotka_ovat_suomen_vaestossa, Y2019 as 2019_alueella_syntyneita_jotka_ovat_suomen_vaestossa, Y2020 as 2020_alueella_syntyneita_jotka_ovat_suomen_vaestossa, Y2021 as 2021_alueella_syntyneita_jotka_ovat_suomen_vaestossa, Y2022 as 2022_alueella_syntyneita_jotka_ovat_suomen_vaestossa from population_view where Tiedot='Alueella syntyneitä_ jotka ovat Suomen väestössä'
Exporting: spark_to_csv_1696257401.110592/alueella_syntyneita_jotka_ovat_suomen_vaestossa